.uploadComponentContainer > div {
  margin-bottom: 10px; 
}

.browseContainer {
  padding: 5px;
  border: 1px solid #ccc;
}

.dropZone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}

.dropZone:hover {
  color: #333;
  border: 2px dashed #333;
  cursor: pointer;
}

/* IMAGE GRID */

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  position: relative;
  margin-right: 8px;
  text-decoration: none;
  color: black;
  overflow: hidden
}

.cell:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .cell {
    width: calc(25% - 6px);
  }
  
  .cell:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  .cell:nth-of-type(4n) {
    margin-right: 0;
  }
}

.cell:hover img {
  transform: scale(1.15);
}

figure {
  margin: 0;
  overflow: hidden;
}

img {
  border: none;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
  object-fit: cover;
  max-height: 175px;
}


.btn {
  -webkit-appearance: button;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  width: 100%;
  margin-bottom: 8px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.delete {
  color: #777;
  font: 2em arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #aaa;
  background-color: rgba(255,255,255,0.75);
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

.delete:after {
  content: '✖'; /* UTF-8 symbol */
  cursor: pointer;
}
.delete:hover{
  cursor: pointer;
  color: rgb(168, 30, 30);
  background-color: rgba(255,255,255,0.95);
  transition: transform .2s ease-in-out;
  transform-origin: top right;
  transform: scale(1.15);
}

figure {
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

figure img {
  border: none;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
  object-fit: cover;
  max-height: 175px;
}

#myProgress {
  width: 100%;
  border-color: #122b40;
  border-width: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}